<%- include('../partials/header'); %>

<main class="main-countries">
    <h2 class="main-h2"><%= name %></h2>
    <section class="section section-country">
        <% data.forEach(item => { %>
            <figure class="figure country-figure">
                <a href ="/country/<%= item.id %>">
                <% console.log(item) %>
                </a>
                <p><%= item.abbreviation%></p>
                <p><%= item.capital%></p>
                <p><%= item.currency%></p>
                <p><%= item.name%></p>
                <p><%= item.phone%></p>
                <p><%= item.population%></p>
                <p><%= item.media%></p>
                <p><%= item.id %></p>
            </figure>
        })
    </section>
</main>


<%/include('../partials/footer'); %>